

@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



        <h1>Bienvenue sur StrawPoll</h1>



        <a href="@Url.Action("Formulaire")" class="btn btn-primary">Créer un sondage</a>




    
    
    






























