@using SondageProjet.Models
@model Sondage


@{
    ViewBag.Title = "ConfirmationSuppression";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmatiton Suppression</title>
</head>
<body>
    <h1 style="text-align:center;text-decoration-line:underline">"MESSAGE"</h1><br />
    <div>
        <h3 style="text-align:center">Voulez Vous Vraiment Désactivé Le Sondage ? </h3>
        <!----  <p>Voulez vous Vraiment desactivé le sondage ? </p>   -->

    </div><br />












    <div>
        <a style="margin-left:30% ;margin-right:30%" type="button" class="btn btn-primary" href="@Url.Action("SupprimerSondage", new { idSondage = Model.IdSondage , numProtection = Model.NumProtection})">VALIDER</a><br /><br />
        <a style="margin-left:30% ;margin-right:30%" href="@Url.Action("Resultat", new { idSondage = Model.IdSondage })" class="btn col btn-primary  ">RESULTAT</a>
    </div>


    <footer style="margin-top:20%">

        <p style="text-align:center">Copyright &copy; @DateTime.Now.Year \  BAH AMADOU BAILO \ SONDAGE-CCI CAMPUS COLMAR ALSACE </p>
    </footer>

</body>
</html>