
@{
    ViewBag.Title = "Formulaire Creation d'un Sondage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Formulaire</h1>
<div>
    <form action="@Url.Action("SubmitLiensGeneres")" method="post">
        

    </form>
    <form>
        <div class="form-group row" style="background-color:#aaa;">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Question</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Question1" placeholder="Veuillez saisir ici votre question">
            </div>
        </div>
        <div class="form-group row" style="background-color:#ddd;">
            <label for="choix1" class="col-sm-2 col-form-label">Choix 1</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Choix1" placeholder="Veuillez saisir le Choix 1">
            </div>
        </div>
        <div class="form-group row" style="background-color:#aaa;">
            <label for="choix1" class="col-sm-2 col-form-label">Choix 2</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Choix2" placeholder="Veuillez saisir le Choix 2">
            </div>
        </div>
        <div class="form-group row" style="background-color:#ddd;">
            <label for="choix1" class="col-sm-2 col-form-label">Choix 3</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Choix3" placeholder="Veuillez saisir le Choix 3">
            </div>
        </div>
        <div class="form-group row" style="background-color:#aaa;">
            <label for="choix1" class="col-sm-2 col-form-label">Choix 4</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Choix4" placeholder="Veuillez saisir le Choix 4">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">

                <div class="col-sm-10">
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Reponse multiple">
                        <label class="form-check-label" for="gridRadios2">
                            Reponse multiple
                        </label>
                    </div>

                </div>
            </div>
        </fieldset>

        <div class="form-group row">
            <div class="col-sm-10">

                <input type="submit" class="btn btn-primary" value="Créer le sondage" />
                <button class="btn btn-primary" onclick="document.getElementById('question','choix1','choix2','choix3','choix4').value = ''">Annuler</button>

            </div>
        </div>
    </form>

</div>
