@using SondageProjet.Models
@model Sondage


@{
    ViewBag.Title = "ImpossibleDevoter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImpossibleDevoter</title>
</head>
<body>
    <h1 style="text-align:center;text-decoration-line:underline">"MESSAGE"</h1><br />
    <div>
        <h3 style="text-align:center">Vous pouvez plus voter le sondage est désactivé</h3>

    </div><br /><br />







    <div>
        <a style="margin-left:30% ;margin-right:30%" type="button" class="btn btn-primary" href="@Url.Action("Accueil")">ACCUEIL</a><br /><br /><br />
        <a style="margin-left:30% ;margin-right:30%" type="button" class="btn btn-primary" href="@Url.Action("Resultat", new { idSondage = Model.IdSondage })">RESULTAT</a>
    </div>


</body>
</html>