
@{
    ViewBag.Title = "Resultat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h1>Resultat</h1>

    <p>choix 1 : <progress value="10" max="100">10 %</progress> </p>

    <p>choix 2 : <progress value="30" max="100">30 %</progress> </p>

    <p>choix 3 : <progress value="70" max="100">70 %</progress> </p>







    <a href="@Url.Action("Accueil")" class="btn btn-primary">Accueil</a>




</div>