
@{
    ViewBag.Title = "SubmitLiensGeneres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SubmitLiensGeneres</h2>

<div>
    <h1>Liens</h1>



    <a href="@Url.Action("Partage")" class="btn btn-primary">Partager: http/nlllllllll</a> <br />
    <a href="@Url.Action("Suppression")" class="btn btn-primary">Desactiver: http/nlllllllll</a> <br />
    <a href="@Url.Action("Resultat")" class="btn btn-primary">Voir resultat: http/nlllllllll</a> <br />

       
</div>